

body{
    background : linear-gradient(to right, #f5f7fa, #c3cfe2)
}
/* 컨테이너에게 스타일 주기 */
.container{
    max-width : 1200px;
    width : 100%;
    margin : 0 auto;
    background : #fff;
    border : 1px solid #ccc;
    border-radius : 12px;
    padding : 24px;
    box-shadow : 0 4px 12px rgba(0,0,0,0.05);
}
/* flex는 직계자식 한테만 영향을 준다. */
header{
    display : flex;
    align-items: center;
    gap : 10px;
    padding-bottom : 20px;
    border-bottom : 2px solid #eee;
}

.profile-image{
    width: 120px;
    height : 120px;
    border : 2px solid #3498db;
    border-radius : 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.job{
    color: #888;
    font-size : 1rem;
}

.role{
    color : #3498db;
    font-size : 1rem;
    font-weight : bold;
    margin : 0 0 12px 0;
}

.description{
    line-height : 1.6;
    margin : 0;
    color : #555;
}

section h2{
    border-left : 6px solid #9b59b6;
    padding-left : 10px;
}

.card{
    background : #f8f9fc;
    border : 1px solid #dfe6e9;
    border-radius : 10px;
    padding : 16px;
    margin-bottom : 16px;
    box-shadow : 0 4px 10px rgba(0,0,0,0.05);
}

.card-title{
    font-weight : bold;
    color : #2c3e50;
    margin-bottom : 8px;
}

.project-container{
    display:flex;
    gap : 16px;
}

.project-top-row{
    display : flex;
    /* space-between : 좌우로 벌리기 */
    justify-content: space-between;
}

.project-container .card{
    width: 450px;
}

.contact{
    border-top : 1px solid #dfe6e9;
}